@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fruktur&family=Roboto+Mono:wght@400;700&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-size: 100%;
    background: linear-gradient(68.15deg, #252566 16.62%, #EE82EE 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 52px;
}

.cabecalho-menu {
    display: flex;
    gap: 42px;
}

.cabecalho-menu-item1, .cabecalho-menu-item2, .cabecalho-menu-item3, .cabecalho-menu-item4 {
    color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 16px;
}

.cabecalho-menu-item1:hover {
    color: #f315a5
}
.cabecalho-menu-item2:hover {
    color: #f315a5
}
.cabecalho-menu-item3:hover {
    color: #f315a5
}
.cabecalho-menu-item4:hover {
    color: #f315a5
}

.conteudo {
    border-top: 0.4px solid #FFF2E7;
    border-bottom: 0.5px;
    margin-bottom: 68px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    border-top: 400px;
} 

.conteudo-principal-escrito-titulo {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 54px;
    color: #fff2E7;
    padding-top: 30px;
} 

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    margin-top: 0;
    padding-bottom: 30px;
    color:	#fcccf5;
}

.conteudo-principal-escrito-botao {
    background-color: #eb3ece;
    width: 185px;
    height: 47px;
    color: #fff2e7;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 75px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 20px;
    gap: 12px;
  
}

.conteudo-principal-escrito-botao:hover {
    background-color: #af058a
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 26px;
    color: #fff2e7;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    padding-left: 300px;
    padding-right: 300px;
    text-align:justify;
}

.rodape {
    padding: 22px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;

}